In [1]:
#Importing the required python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Loading the dataset present in a CSV file
insur_data=pd.read_csv('insurance_pre.csv')
insur_data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#Getting the column names of insurance dataset
insur_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [4]:
#Converting categorical data into numerical data
ins_data_numerical=pd.get_dummies(insur_data,drop_first=True)
ins_data_numerical

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
#Getting the column names of insurance dataset, after converting categorical data to numerical 
ins_data_numerical.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#Storing input and output into separate variables
indep_ins_Data=ins_data_numerical[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep_ins_data=ins_data_numerical[['charges']]

In [7]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep_ins_Data,dep_ins_data,test_size=1/3,random_state=0)

In [8]:
#Applying standardization to bring data into same scale
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [67]:
#Building Gradient Boosting model using train data
from sklearn.ensemble import GradientBoostingRegressor
gradBooRegressor=GradientBoostingRegressor(loss='huber')
gradBooRegressor=gradBooRegressor.fit(X_train,y_train)

C:\Users\sanja\Anaconda3\lib\site-packages\sklearn\ensemble\_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [68]:
#Predicting the built model on test data
y_pred=gradBooRegressor.predict(X_test)
y_pred

array([10483.29286763,  9073.12709538, 45173.11613306, 13306.15496984,
        9240.67075305,  4553.89885258,  1915.9242399 , 11037.9464066 ,
        7062.64229873,  5406.64689776,  6514.67029003, 10613.49358755,
        8303.71147389,  5013.45971183, 18161.22235869, 11060.09283387,
       12529.48864355,  3277.61443162,  6253.956985  , 34726.68992897,
       23564.30444932, 12672.98938219, 10681.01882971, 24610.60066812,
        1674.63683977,  4171.84459656,  3739.32121401,  7690.6022099 ,
        3702.94602888,  8612.58793409,  7700.53048507, 48122.08131292,
       13576.08724514, 10778.28731721, 15918.9814927 ,  3772.40144939,
        8602.65965892, 36468.19908386, 39707.40757115,  2090.6544254 ,
        4944.83498025,  3434.15224075, 19816.28064916, 46887.55972875,
       36759.37673282,  3441.24640187, 11060.09283387,  6391.12654023,
        4499.92486141, 12139.96170265,  2967.63332915,  3792.68385066,
       24609.82147599, 46579.25730757, 11564.61574182,  3334.23743649,
        2551.61574352,  8826.07493708,  9368.37536363, 13055.00498955,
        1620.66179158, 46254.48755728, 14237.69683227, 10238.08512464,
       10616.33761005,  9452.2516757 , 32402.86611261, 38767.11521608,
        3399.52884096,  7942.88484021, 13649.51712389, 11827.08045459,
       17526.73068947, 14074.88177697, 12927.88638919, 12940.4855579 ,
        8003.56845438,  8261.57172837, 19124.53969881, 46212.43575503,
       11339.38874171, 45742.26525518,  1674.63683977,  8137.6805794 ,
       41404.97887536, 19118.66428371,  3679.20423401,  2531.5433074 ,
       13140.52148714, 37810.78494055,  5632.03983195, 10780.50278083,
        2976.88165259,  9024.92158212,  4792.27027999,  4466.34526239,
       43060.22818331, 39168.40577811,  5141.48269627, 10874.2745667 ,
        2551.61574352,  5310.6749056 ,  5141.48269627, 38950.9266121 ,
       24132.01360475,  3600.53043675, 10940.22301864,  3750.25502212,
       11490.01526045, 45058.20827279, 12476.36585334,  4802.30192173,
        9197.36514567, 34004.31632266, 47900.25813504,  6866.03389492,
        2250.15129253,  8826.07493708, 13254.9035055 ,  9039.24200659,
       42178.79680188, 10597.90561674, 14437.90945804,  5463.48920309,
        8315.92962599,  5001.90797446, 24168.41953207, 23026.40213906,
       47030.94407253,  1674.63683977,  8691.68793559,  2300.8947247 ,
        5933.17267078,  8826.58331186, 37612.5398207 , 36921.17665925,
       21123.67280039, 10617.97763667, 23296.74147791,  3299.76085889,
        2090.6544254 , 10792.72093293,  9674.9249901 , 10399.06774599,
        5156.63023251, 14601.25758373, 13580.38392226,  4269.58641668,
        1461.03692816, 10533.33578029,  5975.39153417, 39239.19140671,
        9090.39492193,  2758.65274651,  2676.93736051,  6903.98420556,
        2373.76748904,  2275.90789186, 11060.09283387, 10193.86089592,
        5348.95095688, 13412.73911946, 12902.45612939,  8974.02931855,
        3600.53043675,  5294.62015798, 16139.44178519,  5641.96810712,
        4743.6000504 ,  2045.36736691,  4836.07211031,  5407.82756416,
        8739.33121289,  2551.61574352,  5358.87923205,  5294.62015798,
        4692.38347769,  6371.94300156, 28945.23647151,  1470.85291144,
       12012.34625933,  6654.8478024 , 11297.73628127,  3334.23743649,
        5951.42420743, 27996.56040262,  1674.63683977,  2726.26286335,
       14474.65741326, 10075.04048603, 40832.52628273,  4334.9491835 ,
        5621.67934822, 22730.22320254,  2551.61574352,  2475.25300745,
        6253.956985  ,  6491.66459606,  4913.84048731,  4193.99102382,
       10997.641803  , 46744.35996139, 12491.12122164, 19174.8245935 ,
        4913.84048731, 42101.62256305,  3891.0228712 , 10199.19280201,
        6255.96414899,  1687.88252997,  8700.39048158, 13774.96749144,
        5610.1507197 ,  2967.63332915,  6416.93781664,  2406.81972769,
        6518.33171581,  5464.74808099, 14505.29100399,  6651.11304277,
        6598.49605288,  7697.54077283,  9112.23202896,  2924.80838503,
       11793.57085676, 14162.8258103 , 12696.55122365, 11793.18984014,
        6634.51526145,  2458.79739915,  2103.40664624,  8111.45346109,
       13054.86757626,  4638.05351861,  4430.98320687,  6881.91689616,
        9209.58329777, 34803.49001188,  5488.34514524, 11988.79832869,
        5454.91599806, 37080.77733616,  7282.03239209,  8218.19734056,
        8722.46396835, 10412.94994138,  3030.40792402,  8293.78319872,
        2047.82948127,  6343.63947115, 19550.69691395, 45917.86915864,
        4325.02090833,  3679.20423401,  2036.67937721,  1402.41963167,
        8127.75230423,  2061.66621005,  5243.67730289,  4430.98320687,
        9015.90562163, 24625.76893908, 45058.20827279, 15063.71292875,
        6429.15596873, 11183.49716361, 40233.19249145,  9016.08244731,
       39830.03843055,  1645.64862443, 36937.94975767,  4913.84048731,
       12319.08720276,  5766.75928681, 39761.64055166,  5485.4684046 ,
       10138.77815093,  9658.35939728,  2393.83992516, 13453.7837518 ,
       11805.78900885,  4792.27027999, 12602.78698904,  2519.42423186,
        5466.19871798,  4532.48916894,  8420.51342413, 21745.56668566,
        2913.91885368,  1454.39730314,  2707.71634508, 46230.42393836,
        8824.13524056,  4486.41769851, 12491.12122164, 11673.0092179 ,
       35049.09209864,  6916.20235766,  5248.10588145,  8841.95793832,
        1703.2201769 ,  3115.76337979, 15890.32891598, 16876.35055808,
       13774.96749144,  2475.25300745,  3669.95591057,  9055.69761488,
       10199.19280201, 15448.87691451, 20707.11319025,  6512.13562213,
       16617.64234569,  2071.59448522,  5997.30948099,  4792.27027999,
        8987.61296206,  2785.98070337,  7682.04458517, 43403.46883121,
        3441.24640187,  4486.41769851,  1979.0255855 ,  9102.30375379,
        3750.25502212, 11841.185284  , 47059.20698453, 18163.01103251,
        8819.94580568, 43345.01658559, 12926.55957464,  4913.84048731,
        9100.3231971 ,  4532.48916894, 28609.4653488 ,  4496.34597368,
       13684.91339904,  2110.90276086, 16881.93881238,  2938.52531576,
       24957.25359413,  6488.34006315,  2406.81972769, 39199.29179822,
        5611.96739583,  5101.20381211, 32218.80896061,  1655.57689959,
        8734.68212045,  2996.71612902, 11233.21343151,  3453.66853795,
        6033.26405795,  5406.64689776, 43284.66405808,  9159.84645621,
       35755.88842843, 37561.18011977,  5488.34514524,  7972.8855515 ,
        1614.26244053,  3728.37628868,  3363.55510627,  8700.39048158,
       44092.55250197, 11180.50396102,  1986.25486545, 12537.36054505,
        2090.6544254 ,  8529.66557644,  4181.77287172,  2560.86406696,
        3287.54270679, 36635.48086492,  6155.08216313,  1813.50864778,
       41245.2164563 , 11289.85936566, 42024.93548594, 11347.00563513,
        4171.84459656,  2243.41869465,  2100.58270056, 10609.30415267,
        5260.32403355,  2061.66621005, 10931.51451349,  7074.86045083,
        6010.20758482,  4334.9491835 ,  2989.77975642, 39888.09934395,
        1654.56440365,  9327.9734009 ,  2061.66621005,  6903.30425383,
       10848.72740011,  4094.07621956, 17918.00488646, 10778.28731721,
       14773.6128979 , 13774.58647483,  2030.28002616,  6479.09173971,
       12660.2327392 ,  8192.76708077,  5945.9133477 ,  2519.42423186,
       34128.21219056, 13393.37871743,  6894.05593039, 13443.82348949,
        9063.19882022, 12488.88203653, 47878.52919332,  3648.71466248,
        8529.66557644,  1654.56440365, 14493.07285189,  1674.63683977,
        6471.89237266,  2045.36736691, 11650.05886071,  4922.04707519,
       11086.16911198, 40681.42924745,  5127.01508851, 34802.94251957,
       17678.93254099, 11183.49716361,  8551.81200371, 39347.35228381,
        9082.23131767,  3702.94602888,  8878.78959611, 20104.95988597,
       37241.92075746, 18398.7188131 ,  9366.00282941, 39224.13355047,
        5974.22754742, 18273.20047278,  2967.63332915, 35272.51300829,
        5348.95095688, 11895.98065595])

In [69]:
#Calculating R^2 value
from sklearn.metrics import r2_score
rsquared_value=r2_score(y_test,y_pred)
rsquared_value

0.8924600912591918