In [1]:
# Importing required python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Loading the dataset
insurance_data=pd.read_csv('insurance_pre.csv')
insurance_data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
#Getting the column names of insurance dataset
insurance_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [14]:
#Converting categorical data into numerical data
ins_data_numerical=pd.get_dummies(insurance_data,drop_first=True)
ins_data_numerical

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [15]:
#Getting the column names of insurance dataset, after converting categorical data to numerical 
ins_data_numerical.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [18]:
#Storing input and output into separate variables
indep_ins_Data=ins_data_numerical[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep_ins_data=ins_data_numerical[['charges']]

In [19]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep_ins_Data,dep_ins_data,test_size=1/3,random_state=0)

In [20]:
#Applying standardization to bring data into same scale
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [141]:
# Building SVM model using train data
from sklearn.svm import SVR
svm_regressor=SVR(kernel='rbf',C=10000)
svm_regressor=svm_regressor.fit(X_train,y_train)

C:\Users\sanja\Anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [142]:
#Getting count of support vectors
svm_regressor.n_support_

array([891])

In [143]:
#Getting position of support vectors
svm_regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
       820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832,
       833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
       846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858,
       859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891])

In [144]:
#Getting values of support vectors
svm_regressor.support_vectors_

array([[-1.53963418,  0.11036616, -0.90788827, -0.98885138, -0.49929923],
       [ 0.74809711,  0.26412451, -0.0755796 ,  1.01127431,  2.00280702],
       [ 0.4621307 ,  2.13997636,  1.58903774,  1.01127431, -0.49929923],
       ...,
       [ 0.03318108, -0.90443894, -0.90788827,  1.01127431, -0.49929923],
       [-1.46814257,  0.7869029 , -0.90788827,  1.01127431, -0.49929923],
       [-0.46726014, -1.96941782, -0.0755796 , -0.98885138, -0.49929923]])

In [145]:
#Getting the origin/starting point
svm_regressor.intercept_

array([17332.30453654])

In [146]:
#Predicting the built model on test data
y_pred=svm_regressor.predict(X_test)
y_pred

array([10125.9192978 ,  8637.05859124, 48074.59659442, 12752.1337456 ,
        9910.96267427,  4113.6841609 ,  2218.10649964, 11307.47795818,
        7169.60974929,  5229.97724236,  7144.40781023, 10217.20681174,
        7361.54208215,  4603.52871251, 22184.76583013, 10896.15127177,
       12518.37539225,  3074.65668413,  6485.35505876, 25705.85510821,
       23211.18140367, 12754.42489468,  9993.75007331, 26298.5047289 ,
        1691.32833536,  4125.17780096,  3487.49021272,  7683.47815171,
        4145.02022049,  8376.04694042,  7735.82487084, 49167.13666912,
       13206.95173858, 10348.14832872, 15489.75086725,  3865.68863295,
        8359.74896187, 38353.12926703, 37131.83171436,  2149.28173657,
        5326.2268934 ,  3230.18662837, 21913.20626002, 49515.15921009,
       35514.11448308,  3571.11798359, 10899.87571889,  6939.07228149,
        4334.72642114, 12268.55022357,  2393.77580598,  3860.96381299,
       27168.4841069 , 45315.33458766, 12024.32824636,  2660.3278261 ,
        2280.48443612,  8805.46905266,  9210.20220484, 13150.70075736,
        1713.04011603, 40288.72378954, 14103.83747721,  9930.22034333,
       10129.75470474, 10032.97738334, 24653.9677685 , 36227.5112661 ,
        3513.80788555,  7916.70172089, 13393.71829932, 12113.11880604,
       19090.95747402, 13910.74023365, 13105.72598965, 13019.92783187,
        7458.95353654,  8060.24275434, 20278.74516015, 48871.71685951,
       11462.30449424, 42766.11003806,  1804.55987202,  7714.32040643,
       40171.00350071, 17423.1345449 ,  3288.0297464 ,  2511.77115798,
       12897.51279498, 36587.58563243,  5867.99452207, 10616.67368479,
        2660.40089301,  8531.6045203 ,  3955.06820299,  4567.41753046,
       36987.38760602, 30882.72025077,  5064.09010395, 10670.04617118,
        1914.06567023,  5111.08337261,  4525.59582247, 36528.02656503,
       28265.36175291,  3276.74985981, 10959.9432889 ,  3197.08103256,
       11657.8793303 , 42372.61563901, 12323.39414817,  4175.00013876,
        8973.78581789, 27605.00508098, 48201.29094285,  7675.72136791,
        1995.94591687,  8805.2697832 , 12597.78712998,  9512.74969594,
       43584.04054993, 10243.98442013, 14116.38040263,  4670.23280943,
        7661.26216826,  5003.069956  , 24309.78899651, 18402.91757598,
       47621.87423303,  1480.94372472,  8201.50354157,  1831.05409172,
        5977.13070529,  9133.47837432, 29778.36717776, 28566.20434016,
       20842.18780735, 10257.47528433, 23256.31674646,  2743.74735012,
        2203.64178163, 10641.3057692 ,  9380.1279895 , 10128.97003752,
        4872.80718232, 14285.46185032, 13190.43011908,  3782.94851162,
        1493.60975232, 10919.49711921,  6020.99375701, 39954.36349044,
        9648.75562738,  2063.41775648,  2435.09051552,  6501.16219476,
        2476.70190736,  2091.47467554, 10896.53985088,  9856.63271589,
        4421.13181953, 13087.79518916, 13059.2342775 ,  9367.9581859 ,
        4340.43749699,  4442.71727822, 14293.61414274,  5612.49543185,
        4238.52207819,  2051.6768229 ,  3945.86014876,  4285.74793911,
        7908.48536559,  1926.29469816,  4479.42897107,  4553.81915246,
        4169.2848901 ,  6029.81770145, 37805.62045226,  1681.13926308,
       11075.69475079,  6655.99139717, 11281.62646956,  2525.47784249,
        5555.5171839 , 31079.08905711,  1834.1854841 ,  2851.42980954,
       14391.02332682,  9987.77012192, 37215.09092647,  4180.67838253,
        5590.28724166, 23075.21858729,  2098.8202122 ,  2351.77548219,
        6208.44773271,  6059.01293198,  4110.03357963,  4229.10499773,
       11338.36312116, 44285.17097571, 12326.28665934, 20474.66865542,
        4378.55447178, 46289.20002008,  3676.20674726,  9300.94345702,
        5995.41666865,  1469.69858712,  8579.37757239, 13705.09081111,
        5078.39350152,  2441.57886464,  6611.36156552,  2211.03158398,
        6525.24090213,  4992.40384855, 14297.42012918,  7111.39505649,
        6288.99485009,  7892.91950693,  8591.94264816,  2984.19366166,
       12216.11772997, 13996.07648021, 12607.67596247, 12288.86246677,
        7279.32344944,  2506.80054418,  1535.18536882,  7709.272623  ,
       12557.90013747,  4229.77109664,  4763.80221679,  7108.13936373,
        8957.09213208, 27097.22675191,  5849.56034853, 11259.93500304,
        5700.51584884, 33501.07685304,  7539.96232609,  7116.0310368 ,
        8391.65681115, 10465.18472314,  3117.39354066,  7505.77379461,
        2510.75955783,  6630.29238576, 23226.56365655, 41678.02832814,
        4221.19423212,  3124.45402355,  2190.03931442,  1512.95070044,
        7530.45385787,  1985.86501485,  4398.70394102,  3751.19593172,
        9382.31311943, 27966.02286195, 41233.95079115, 15198.21095771,
        6624.73791072, 11062.71842822, 41385.21743559,  9536.65858011,
       35973.66903294,  1209.9352547 , 39689.71302367,  4796.28542728,
       12961.74737063,  4055.49155734, 38060.52635533,  5032.78403887,
        9799.01239988,  9842.22785451,  2139.82687529, 13725.17336602,
       12248.24621245,  3939.72007917, 12605.57250799,  2159.38204303,
        5517.4295039 ,  3864.49447916,  8359.8275735 , 21756.80025551,
        2689.18263803,  1662.85013091,  2818.977635  , 47386.64102033,
        9127.40296413,  4356.54021782, 12339.0868649 , 11740.44517578,
       26381.55789615,  6529.31570664,  5037.97269685,  8490.13952354,
        1582.42431285,  3048.14935177, 17268.90500443, 16432.27729995,
       13738.93924453,  2519.95286448,  3251.81151529,  9139.57464839,
        9338.13438284, 14150.04904787, 25312.23805708,  6096.90235798,
       14380.67320353,  2196.3025092 ,  5582.05310498,  3968.0781133 ,
        8341.91848543,  2707.14159933,  6578.26892263, 45990.72630393,
        3691.12081198,  3581.28405029,  2133.20198961,  8645.03893451,
        3378.97248656, 12348.58613182, 43705.8621628 , 14372.1950607 ,
        8977.45068767, 45417.15808314, 13166.59577927,  4360.3015034 ,
        9760.62026216,  3719.39974406, 32470.87530218,  4590.4757276 ,
       13544.6371901 ,  2090.14693633, 14878.91513248,  3115.72399801,
       26813.56849547,  5829.07102127,  2230.31808884, 43112.36758697,
        5425.12505728,  5255.37425822, 36794.53596222,  1597.74786895,
        8528.35952787,  2961.25268657, 11910.44295493,  3476.5766983 ,
        5039.68185993,  5005.68072239, 42574.6751419 ,  8706.1999297 ,
       28267.63434388, 38745.89990437,  5843.46048975,  8633.97293988,
        1748.70034942,  3357.66357375,  3381.7493182 ,  8385.09167169,
       44786.64401032, 11354.87372104,  2247.31020236, 12143.38250133,
        2163.22670215,  7661.38435831,  3810.25828082,  1969.2007596 ,
        3234.65438626, 36672.20623253,  7096.46955687,  1951.83573412,
       41332.00529601, 11179.45232854, 43024.31505269, 11729.44043885,
        4211.11199937,  1898.19873927,  2325.09050335, 10298.21503188,
        5134.74457112,  2091.59745386, 10509.44147456,  7243.07091662,
        6290.51490089,  4182.46206824,  2675.79423378, 40682.40145063,
        1743.03280082,  9304.56525227,  1999.41571383,  7120.84631773,
       10683.85713826,  3284.01884936, 19519.9696289 , 10321.00744071,
       14550.30913932, 13867.35713499,  2212.29211629,  5872.10522524,
       12898.404936  ,  7371.4847528 ,  5342.50311615,  2223.23722292,
       27558.84265425, 12930.62066978,  6946.03327302, 13141.03136107,
        8812.2674751 , 12319.41940472, 45277.04808893,  3707.24128611,
        7677.90999053,  1762.0053045 , 14582.94681348,  1487.99915688,
        7167.02913637,  2069.593856  , 12092.75670911,  4649.27800119,
       11456.52110817, 37813.99369701,  5128.09062417, 23866.16454126,
       17899.23852559, 11060.61259467,  7954.37271146, 28635.87371062,
        8608.6243081 ,  3732.11641706,  9019.21970228, 16564.38418067,
       34848.05528989, 22158.73292822,  9276.75068835, 34296.64167891,
        4114.03562041, 18688.61391776,  2682.65952238, 35016.96843907,
        4571.93265478, 11044.6454491 ])

In [147]:
#Calculating R^2 value
from sklearn.metrics import r2_score
svm_rsquared_value=r2_score(y_test,y_pred)
svm_rsquared_value

0.87297515322975