In [3]:
#Importing the required python libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb

In [6]:
#Loading the dataset present in a CSV file
insur_data=pd.read_csv('insurance_pre.csv')
insur_data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [7]:
#Getting the column names of insurance dataset
insur_data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [8]:
#Converting categorical data into numerical data
ins_data_numerical=pd.get_dummies(insur_data,drop_first=True)
ins_data_numerical

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [9]:
#Getting the column names of insurance dataset, after converting categorical data to numerical 
ins_data_numerical.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [10]:
#Storing input and output into separate variables
indep_ins_Data=ins_data_numerical[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dep_ins_data=ins_data_numerical[['charges']]

In [11]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(indep_ins_Data,dep_ins_data,test_size=1/3,random_state=0)

In [12]:
#Applying standardization to bring data into same scale
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [47]:
#Building Gradient Boosting model using train data
from xgboost import XGBRegressor
xgb_regressor=XGBRegressor(eta=0.1,gamma=1000,susbsample=0.1)
xgb_regressor=xgb_regressor.fit(X_train,y_train)

[13:35:26] WARNING: C:/Users/administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "susbsample" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

In [48]:
#Predicting the built model on test data
y_pred=xgb_regressor.predict(X_test)
y_pred

array([10575.058 , 10518.39  , 44933.28  , 12293.968 ,  9795.447 ,
        8103.8438,  1808.7412, 11701.197 ,  6400.1206,  5444.6396,
        5857.473 , 16203.801 ,  9434.598 ,  7355.427 , 24885.07  ,
       12871.493 , 14137.411 ,  3196.2258,  6238.988 , 34292.973 ,
       23520.846 , 16207.41  , 10903.835 , 27151.824 ,  4885.9814,
        4374.248 ,  5165.408 ,  8282.515 ,  3343.3145, 10617.608 ,
        7404.487 , 47425.56  , 14959.688 , 12360.337 , 16551.24  ,
        4057.7505, 11877.721 , 35694.94  , 38958.76  ,  3102.6648,
        8613.805 ,  4380.2876, 19967.844 , 47372.434 , 38552.625 ,
        3150.9207, 12946.419 ,  6554.609 ,  4532.111 , 12169.991 ,
        2513.2742,  4106.089 , 27314.53  , 47210.188 , 11511.173 ,
        2859.2812,  1830.2402, 10160.644 ,  9837.892 , 16081.833 ,
        1849.2777, 44548.24  , 16086.154 , 15460.991 , 11959.631 ,
        9550.523 , 32731.861 , 42099.184 ,  3297.7466, 12478.715 ,
       14201.744 , 12247.812 , 16809.885 , 14729.579 , 13629.014 ,
       13683.273 ,  7719.725 , 10635.147 , 18038.998 , 49027.824 ,
       10968.089 , 47526.977 ,  1938.7186,  9861.951 , 41087.785 ,
       18555.615 ,  3742.9314,  2164.2583, 14777.04  , 41417.98  ,
        5429.1772, 12169.726 ,  2623.4563, 11289.849 ,  5710.1504,
        5005.0396, 42318.1   , 49415.742 ,  6414.9365, 11036.324 ,
        2714.913 ,  9441.292 ,  9043.711 , 41449.36  , 25291.855 ,
        4928.3916, 10705.442 ,  3477.9634, 14980.064 , 45436.035 ,
       12875.732 ,  5522.569 , 10773.981 , 34239.566 , 47412.566 ,
        7830.247 ,  2170.4426, 10161.655 , 25717.02  , 10022.35  ,
       41110.14  , 11538.019 , 14278.987 ,  6873.4517, 13368.724 ,
        6630.0244, 30162.236 , 27986.3   , 47937.246 ,  1965.1483,
       14268.0205,  4516.7827,  6232.506 ,  8422.29  , 46864.984 ,
       38165.28  , 23800.598 , 12883.537 , 24966.533 ,  6871.0127,
        2281.4504, 12625.74  , 19271.824 , 11559.049 ,  5394.0186,
       14389.422 , 23984.65  , 11400.3125,  1448.8191, 11789.82  ,
        6188.6396, 38456.242 ,  9873.602 , 10628.737 ,  3947.905 ,
       10937.179 ,  2797.3042,  4771.6064, 12871.493 , 11064.723 ,
        7604.837 , 13129.828 , 13098.652 ,  8664.318 ,  3894.0542,
       10364.163 , 16469.553 ,  6592.8613,  6589.5244,  2358.6294,
        8692.186 ,  9754.499 , 10358.206 ,  2019.9006,  9284.184 ,
       10981.813 ,  5530.8975,  6790.198 , 26317.324 ,  1478.8759,
       15011.907 ,  6228.792 , 11649.172 ,  5531.081 ,  6535.117 ,
       27951.643 ,  2191.3691,  3408.568 , 13993.91  , 12961.352 ,
       40987.87  ,  5035.837 ,  5006.34  , 24307.924 ,  1697.5427,
        3466.2664,  8700.524 ,  6376.998 ,  5713.411 ,  5363.049 ,
       14203.451 , 46930.23  , 15060.577 , 18757.715 ,  8221.572 ,
       42905.297 ,  4028.9124, 10815.786 ,  6568.0244,  1515.2168,
        9721.032 , 13690.724 ,  7935.6523,  3098.097 ,  6197.5767,
        6314.0005,  9369.859 ,  6426.8857, 14556.324 ,  7062.178 ,
       10644.482 ,  8144.1484, 10790.398 ,  4855.305 , 12139.491 ,
       14166.632 , 26700.773 , 12606.159 ,  6235.8765,  1936.251 ,
        9959.673 ,  7896.2085, 19076.613 ,  6886.0615,  5003.9077,
        8164.0503, 11760.873 , 34457.684 ,  6358.5156, 12799.148 ,
        9305.58  , 37457.86  ,  7800.37  ,  9476.913 , 10374.99  ,
       11055.729 ,  3177.4927,  8986.425 ,  3310.6587,  6430.3926,
       19858.955 , 44079.266 ,  4798.6436,  3610.2336,  3246.989 ,
        1841.9819, 10034.552 ,  2526.3906,  4862.5405,  6759.925 ,
        8576.698 , 27063.299 , 44647.117 , 18943.723 ,  6776.3794,
       11251.782 , 46851.87  , 10166.039 , 40584.938 ,  1952.252 ,
       38009.25  ,  5650.8774, 11997.793 , 10248.426 , 39345.18  ,
        6124.786 , 10207.389 , 10928.034 ,  3114.7102, 19274.395 ,
       11679.575 ,  5626.0127, 16265.811 , 13092.305 ,  6050.5474,
        4840.9263,  8337.055 , 22062.812 ,  2778.225 ,  1398.6259,
        2576.125 , 49053.883 , 11305.63  ,  4768.5713, 14462.922 ,
       12332.607 , 34766.668 ,  6852.7734,  5913.6196,  9030.087 ,
        2282.974 ,  3125.7952, 25344.637 , 16269.18  , 14715.501 ,
        2072.9148,  3199.5256, 16234.405 , 10825.122 , 15260.332 ,
       21231.434 ,  8135.5786, 16957.725 ,  2178.9922, 14618.64  ,
        5695.019 , 17652.945 ,  2561.597 ,  8717.931 , 45136.996 ,
        4502.033 ,  6520.678 ,  2366.5615, 10708.286 ,  3791.0208,
       12527.0625, 46782.473 , 17712.402 ,  9518.715 , 45176.082 ,
       14170.224 ,  7968.9224,  9535.539 ,  3921.9666, 28483.049 ,
        4808.4307, 14234.973 ,  2725.4988, 16784.504 ,  3886.9817,
       24682.625 , 13959.879 ,  4263.12  , 41106.3   ,  5904.369 ,
        5018.533 , 28424.014 ,  2976.5063,  9798.953 ,  4634.101 ,
       12957.028 ,  3812.316 ,  8009.085 ,  6059.987 , 45950.883 ,
       11165.278 , 39507.453 , 39212.5   ,  6358.5156, 10557.697 ,
        1897.6979,  6683.8755,  4000.1401,  9292.519 , 46164.01  ,
       10722.114 ,  2216.1628, 15598.624 ,  2909.754 , 11120.091 ,
        5878.9443,  2986.105 ,  3348.459 , 36494.457 ,  6920.3564,
        2155.5461, 42025.473 , 12232.683 , 41943.31  , 10755.523 ,
        8853.091 ,  2814.9202,  2134.5642, 14659.058 ,  8393.266 ,
        2685.216 , 11701.875 ,  6830.4775,  6016.527 ,  5131.183 ,
        6481.0864, 44274.406 ,  1469.0404, 11433.588 ,  6241.978 ,
       15053.078 , 11036.324 ,  4739.09  , 17531.082 , 12448.232 ,
       16406.186 , 18357.129 ,  3819.3022,  7647.447 , 12777.969 ,
        8102.9463,  7352.0493,  4367.8105, 34356.168 , 13497.137 ,
        7603.776 , 12586.743 , 10939.587 , 13448.212 , 49414.78  ,
        4494.523 , 10825.637 ,  1560.0034, 14907.294 ,  1919.7576,
        6493.5566,  2341.4038, 10960.097 ,  5867.426 , 10654.972 ,
       41110.016 ,  5726.6885, 35913.043 , 17300.898 , 11251.782 ,
       10476.202 , 42408.316 , 10217.705 ,  3663.299 ,  8635.259 ,
       20165.766 , 41095.516 , 19260.842 , 10954.252 , 38003.18  ,
        9009.74  , 17405.654 ,  1816.3737, 36026.48  ,  9215.226 ,
       12691.977 ], dtype=float32)

In [49]:
#Calculating R^2 value
from sklearn.metrics import r2_score
rsquared_value=r2_score(y_test,y_pred)
rsquared_value

0.857726228249311